
<h1>Listing Movies</h1><br />
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Release Year</th>
      <th>Plot</th>
      <th>Director</th>
      <th>Actors</th>
      <th>IMDB Rating</th>
      <th>Metascore Rating</th>
      <th>User Vote</th>
      <th>Decade</th>
      <!-- <th colspan="12"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
    <!-- <p>Created by: <%= movie.user.try(:email) %></p> -->
      <tr>
        
        <td><img src="<%= movie.poster_url %>" alt=" Couldn't find it"></td>
        <td><%= movie.title %></td>
        <td><%= movie.release_year %></td>
        <td><%= movie.plot %></td>
        <td><%= movie.director %></td>
        <td><%= movie.stars %></td>
        <td><%= movie.imdb_rating %></td>
        <td><%= movie.metascore %></td>
        <td><%= movie.vote %></td>
        <td><%= movie.category.try(:decade_name) %></td>
      </tr>
      <tr>
        <td><%= link_to 'Show', movie, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', movie, class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nominate Your Movie', new_movie_path %>


